.container__content {
    width: 90vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1vh;
}

.content__cover > img {
    min-width: 600px;
    min-height: 400px;
    max-width: 90vw;
    margin-bottom: 1vh;
}

.content__description {
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.content__description > p {
    margin-bottom: 5vh;
    color: rgb(198, 198, 198);
}